.App {
  text-align: center;
  /*background-color: #010101;*/
  height: -webkit-fill-available;

}

.App-header {
  height: 90px;
  color: white;
  background-color: #010101;

}




.App-Home {
  background-color: #010101;
  min-width: 1024px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
